<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://capacitorjs.com" id="capacitor-custom-status-bar" version="1.0.0">
  <name>CustomStatusBar</name>
  <js-module src="dist/plugin.js" name="CustomStatusBar">
    <clobbers target="CustomStatusBar" />
  </js-module>

  <platform name="android">
    <config-file target="capacitor.plugins.json" parent="plugins">
      <plugin
        name="CustomStatusBar"
        package="com.ezyger.customstatusbar.CustomStatusBarPlugin" />
    </config-file>
  </platform>
</plugin>
